.main {
  margin: 8px;
}

table {
  font-family: arial;
  font-size: 10pt;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.delete:hover, .edit:hover {
  color:blue;
  cursor:pointer;
  text-decoration: underline;
}
