<div class="main">

  <p><a routerLink="pe-fund-new">Add new</a></p>

  <table>
    <thead>
    <th>Ticker</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let fund of pefunds">
      <td align="left">{{fund.ticker}}</td>
      <td align="right">{{fund.startDate | date}}</td>
      <td align="right">{{fund.endDate | date}}</td>
      <td align="left">
        <span class="edit" routerLink="pe-fund-edit/{{fund.id}}">Edit</span> |
        <span class="delete" (click)="deleteFund(fund.id)">Delete</span>
      </td>
    </tr>
    </tbody>
  </table>







</div>
