<div class="main">
  <h3>Forecast Page</h3>
<div> Client :
  <select placeholder="select client" (change) = "changeClients($event.target.value)" onfocus="this.selectedIndex = -1;">
    <option *ngFor="let client of clients" [value]="client.id">{{client.clientName}}</option>
  </select>
</div>
<br/>

<p *ngIf="forecast">
  PE funds: {{forecast.peFundName}}<br/>
  Current NAV (eur):  {{forecast.latestNAV | number}} <br/>
</p>

<table *ngIf="forecast">
  <thead>
  <th>Year</th>
  <th>Cash out</th>
  <th>Cash in</th>
  <th>NAV</th>
  </thead>
  <tbody>
  <tr *ngFor="let cash of forecast.cashOutFlows; let i = index">
    <td>{{i+1}}</td>
    <td align="right">{{cash | number}}</td>
    <td align="right">{{forecast.cashInFlows[i] | number}}</td>
    <td align="right">{{forecast.navs[i] | number}}</td>
  </tr>
  </tbody>
</table>

</div>


<router-outlet></router-outlet>

