<div class="main">

  <div class="container custom-container">
    <form class="col-md-12" #f="ngForm">

      <h3 class="mb-3 text-center">Update Nav</h3>

      <div class="form-group">
        <input type="text" class="form-control" [value]="nav.pensionFundName" readonly name="pensionFundName">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [value]="nav.peFundName" readonly name="peFundName">
      </div>

      <div class="form-group">
        <input type="number" [(ngModel)]="nav.capitalSize" class="form-control" placeholder="NAV" name="capitalSize" required>
      </div>

      <div class="form-group">
        <input type="date" [(ngModel)]="nav.navDate" class="form-control" placeholder="NAV date" name="navDate" required>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateNav()" [disabled]="!f.valid">Update Nav</button>
      </div>

    </form>
  </div>
</div>
