<div class="main">

<div class="container custom-container">
  <form class="col-md-12" #f="ngForm">
    <h3 class="mb-3 text-center">Create PeFund</h3>

    <div class="form-group">
      Ticker:
      <input type="text" [(ngModel)]="fundDetails.ticker" #ticker="ngModel" name="ticker" class="form-control" placeholder="Ticker" required minlength="4" >
    </div>

    <div class="form-group">
      Fund name:
      <input type="text" [(ngModel)]="fundDetails.name" name="nimi" class="form-control" placeholder="Name" required >
    </div>

    <div class="form-group">
      Start date:
      <input type="date" name="startdate"  [(ngModel)]="fundDetails.startDate" class="form-control" placeholder="Start date" required>
    </div>

    <div class="form-group">
      Invest period date:
      <input type="date"  name="investdate" [(ngModel)]="fundDetails.investPeriodDate" class="form-control" placeholder="Invest period date" required>
    </div>

    <div class="form-group">
      End Date:
      <input type="date" name="enddate" [(ngModel)]="fundDetails.endDate" class="form-control" placeholder="End date" required>
    </div>

    <div class="form-group">
      Type:
      <select [(ngModel)]="fundDetails.peFundType" placeholder="Type" onfocus="this.selectedIndex = -1;" name="fundtype" required>
        <option *ngFor="let peft of peftypes" [value]="peft.name">{{peft.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addFund()" [disabled]="!f.valid">Create new</button>
    </div>

    <div *ngIf="ticker.invalid && (ticker.dirty || ticker.touched)" class="alert-danger">
      <div *ngIf="ticker.errors.required" class="alert-danger">
        Ticker is required.
      </div>
      <div *ngIf="ticker.errors.minlength" class="alert-danger">
        Ticker must be at least 4 characters long.
      </div>
    </div>

  </form>

</div>

</div>
