<div class="main">

  <div class="container custom-container">
    <form class="col-md-12" #f="ngForm">
      <h3 class="mb-3 text-center">Create NAV value</h3>

      <div class="form-group">
        Client:
        <select class="form-group" [(ngModel)]="nav.pensionFundName" placeholder="Client" onfocus="this.selectedIndex = -1;" name="pensionFundName" required>
          <option *ngFor="let client of clients" [value]="client.clientName">{{client.clientName}}</option>
        </select>
      </div>

      <div class="form-group">
        PE fund:
        <select [(ngModel)]="nav.peFundName" placeholder="PeFund" onfocus="this.selectedIndex = -1;" name="peFundName" required>
          <option *ngFor="let fund of pefunds" [value]="fund.ticker">{{fund.ticker}}</option>
        </select>
      </div>

      <div class="form-group">
        Nav value:
        <input type="number" [(ngModel)]="nav.capitalSize" class="form-control" placeholder="Eur m" name="capitalSize" required>
      </div>

      <div class="form-group">
        Nav date:
        <input type="date" [(ngModel)]="nav.navDate" class="form-control" placeholder="date" name="navDate" required>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addNav()"[disabled]="!f.valid">Create new</button>
      </div>

    </form>
  </div>

</div>
