<div class="main">

  <div class="container custom-container">
    <form class="col-md-12" #f="ngForm">
      <h3 class="mb-3 text-center">Create PeFund</h3>

      <div class="form-group">
      Client:
      <select class="form-group" [(ngModel)]="commitment.pensionFundName" placeholder="Client" onfocus="this.selectedIndex = -1;" name="pensionFundName" required>
        <option *ngFor="let client of clients" [value]="client.clientName">{{client.clientName}}</option>
      </select>
      </div>

      <div class="form-group">
      PE fund:
      <select [(ngModel)]="commitment.peFundName" placeholder="PeFund" onfocus="this.selectedIndex = -1;" name="peFundName" required>
        <option *ngFor="let fund of pefunds" [value]="fund.ticker">{{fund.ticker}}</option>
      </select>
      </div>

      <div class="form-group">
        Commitment:
        <input type="number" [(ngModel)]="commitment.commitmentSize" class="form-control" placeholder="Commitment size" name="commitmentSize" required>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addCommitment()" [disabled]="!f.valid">Create new</button>
      </div>

    </form>
  </div>

</div>
