<div class="main">
  <h3>Nav Page</h3>
  <p><a routerLink="nav-new">Add new</a></p>
  <div> Pe Fund :
    <select placeholder="select fund" (change) = "changeFunds($event.target.value)" onfocus="this.selectedIndex = -1;">
      <option *ngFor="let fund of funds" [value]="fund.id">{{fund.ticker}}</option>
    </select>
  </div>
  <br/>

  <table *ngIf="nav">
    <thead>
    <th>Date</th>
    <th>Client</th>
    <th>Amount</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let n of nav">
      <td align="left">{{n.navDate}}</td>
      <td align="right">{{n.pensionFundName }}</td>
      <td align="right">{{n.capitalSize | number }}</td>
      <td align="left">
        <span class="edit" routerLink="nav-edit/{{n.id}}">Edit</span> |
        <span class="delete" (click)="deleteNav(n.id)" >Delete</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>


<router-outlet></router-outlet>
