<div class="main">
  <h3>Commitment Page</h3>
  <p><a routerLink="commitment-new">Add new</a></p>
  <div> Client :
    <select placeholder="select client" (change) = "changeClients($event.target.value)" onfocus="this.selectedIndex = -1;">
      <option *ngFor="let client of clients" [value]="client.id">{{client.clientName}}</option>
    </select>
  </div>
  <br/>

  <table *ngIf="commitment">
    <thead>
    <th>Fund</th>
    <th>Amount</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let com of commitment">
      <td align="left">{{com.peFundName}}</td>
      <td align="right">{{com.commitmentSize | number}}</td>
      <td align="left">
        <span class="edit" routerLink="commitment-edit/{{com.id}}">Edit</span> |
        <span class="delete" (click)="deleteCommitment(com.id)">Delete</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>


<router-outlet></router-outlet>
