<div>
  <nav>
    <a routerLink="forecast" routerLinkActive="active">Forecast</a>
    <a routerLink="pe-fund">PE Funds</a>
    <a routerLink="commitment">Commitments</a>
    <a routerLink="nav">NAV</a>
    <a routerLink="cashflow">Cashflows</a>
  </nav>
</div>


<router-outlet></router-outlet>
