nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover{
  background-color: #ddd;
  color: black;
}

nav {
  background-color: #333;
  overflow: hidden;
  margin: 0;
}



