<div class="main">

  <div class="container custom-container">
    <form class="col-md-12" #f="ngForm">

      <h3 class="mb-3 text-center">Update Cashflow</h3>

      <div class="form-group">
        <input type="text" class="form-control" [value]="cashflow.pensionFundName" readonly name="pensionFundName">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [value]="cashflow.peFundName" readonly name="peFundName">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [value]="cashflow.cashFlowType" readonly name="cashFlowType">
      </div>

      <div class="form-group">
        <input type="number" [(ngModel)]="cashflow.cashFlow" class="form-control" placeholder="Cashflow" name="cashFlow" required>
      </div>

      <div class="form-group">
        <input type="date" [(ngModel)]="cashflow.paymentDate" class="form-control" placeholder="Payment date" name="paymentDate" required>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateCashflow()" [disabled]="!f.valid">Update cashflow</button>
      </div>

    </form>
  </div>
</div>
