<div class="main">
  <h3>Cashflow Page</h3>
  <p><a routerLink="cashflow-new">Add new</a></p>
  <div> Pe Fund :
    <select placeholder="select fund" (change) = "changeFunds($event.target.value)" onfocus="this.selectedIndex = -1;">
      <option *ngFor="let fund of funds" [value]="fund.id">{{fund.ticker}}</option>
    </select>
  </div>
  <br/>

  <table *ngIf="cashflow">
    <thead>
    <th>Date</th>
    <th>Client</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let cf of cashflow">
      <td align="left">{{cf.paymentDate}}</td>
      <td align="right">{{cf.pensionFundName }}</td>
      <td align="right">{{cf.cashFlow | number }}</td>
      <td align="right">{{cf.cashFlowType }}</td>
      <td align="left">
        <span class="edit" routerLink="cashflow-edit/{{cf.id}}">Edit</span> |
        <span class="delete" (click)="deleteCashflow(cf.id)" >Delete</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>


<router-outlet></router-outlet>

