<div class="main">

  <div class="container custom-container">
    <form class="col-md-12" #f="ngForm">

      <h3 class="mb-3 text-center">Update Fund</h3>

      <div class="form-group">
        <input type="text" class="form-control" [value]="commitment.pensionFundName" readonly name="pensionFundName">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [value]="commitment.peFundName" readonly name="peFundName">
      </div>

      <div class="form-group">
        <input type="number" [(ngModel)]="commitment.commitmentSize" class="form-control" placeholder="Size" name="commitmentSize" required>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateCommitment()" [disabled]="!f.valid">Update Commitment</button>
      </div>

    </form>
  </div>
</div>
