<div class="main">

  <div class="container custom-container">
    <form class="col-md-12" #f="ngForm">
      <h3 class="mb-3 text-center">Create Cashflow</h3>

      <div class="form-group">
        Client:
        <select class="form-group" [(ngModel)]="cashflow.pensionFundName" placeholder="Client" onfocus="this.selectedIndex = -1;" name="pensionFundName" required>
          <option *ngFor="let client of clients" [value]="client.clientName">{{client.clientName}}</option>
        </select>
      </div>

      <div class="form-group">
        PE fund:
        <select [(ngModel)]="cashflow.peFundName" placeholder="PeFund" onfocus="this.selectedIndex = -1;" name ="peFundName" required>
          <option *ngFor="let fund of pefunds" [value]="fund.ticker">{{fund.ticker}}</option>
        </select>
      </div>

      <div class="form-group">
        Cashflow:
        <input type="number" [(ngModel)]="cashflow.cashFlow" class="form-control" placeholder="Eur m" name="cashFlow" required>
      </div>

      <div class="form-group">
        Payment date:
        <input type="date" [(ngModel)]="cashflow.paymentDate" class="form-control" placeholder="date" name="paymentDate" required>
      </div>

      <div class="form-group">
        Type:
        <select [(ngModel)]="cashflow.cashFlowType" placeholder="Type" onfocus="this.selectedIndex = -1;" name="cftype" required>
          <option *ngFor="let cft of cftypes" [value]="cft.name">{{cft.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addCashflow()" [disabled]="!f.valid">Create new</button>
      </div>

    </form>
  </div>

</div>
