<div class="main">

<div class="container custom-container">
  <div class="col-md-12">

    <h3 class="mb-3 text-center">Update Fund</h3>

    <div class="form-group">
      Ticker:
      <input type="text" [(ngModel)]="fundDetails.ticker" class="form-control" placeholder="Ticker">
    </div>

    <div class="form-group">
      Name:
      <input type="text" [(ngModel)]="fundDetails.name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      Start date:
      <input type="date" [(ngModel)]="fundDetails.startDate" class="form-control" placeholder="Start date">
    </div>

    <div class="form-group">
      Investment period date:
      <input type="date" [(ngModel)]="fundDetails.investPeriodDate" class="form-control" placeholder="Invest period date">
    </div>

    <div class="form-group">
      End date:
      <input type="date" [(ngModel)]="fundDetails.endDate" class="form-control" placeholder="End date">
    </div>

    <div class="form-group">
      Type:
      <select [(ngModel)]="fundDetails.peFundType" placeholder="Type">
        <option *ngFor="let peft of peftypes" [value]="peft.name" [selected]="fundDetails.peFundType == true">{{peft.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateFund()">Update fund</button>
    </div>

  </div>
</div>

</div>
